<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net452" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net452" />
  <package id="CefSharp.Common" version="75.1.142" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="75.1.142" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="Nekoxy" version="1.5.3.21" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net452" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net452" />
</packages>